.about-main-values-item-careers {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1200px;
    // margin-left: -50px;
}

.careers-item-manager {
    position: relative;
    display: flex;
    // margin-top: -1500px;
    // flex-direction: column;
}

.careers-item-list-manager {
    position: absolute;
    width: 1110px;
    height: 128px;
    left: 165px;
    top: 1761px;
    // margin-top: 50px;
    background: #F2F5F9;
}

.careers-item-list-manager p {
    position: absolute;
    height: 28px;
    left: 0%;
    right: 68.31%;
    top: calc(50% - 28px/2 - 26.5px);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    letter-spacing: -1.07143px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.careers-item-list-manager span {
    position: absolute;
    left: 0%;
    right: 73.71%;
    top: 65.02%;
    bottom: 0%;
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.btn-careers-mannager {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FCB72B;
    height: 25px;
    left: 37.5%;
    right: 36.94%;
    top: calc(50% - 25px/2);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    width: 180px;
    height: 53px;
    border: none;
    margin-left: 400px;
}

.btn-careers-mannager:hover {
    background-color: white;
    color: #FCB72B;
    border: 1px solid #FCB72B;
}

.careers-item-list-manager-2 {
    position: absolute;
    width: 1110px;
    height: 128px;
    left: 165px;
    top: 1930px;
    background: #F2F5F9;
}

.careers-item-list-manager-2 p {
    position: absolute;
    height: 28px;
    left: 0%;
    right: 68.31%;
    top: calc(50% - 28px/2 - 26.5px);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    letter-spacing: -1.07143px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.careers-item-list-manager-2 span {
    position: absolute;
    left: 0%;
    right: 73.71%;
    top: 65.02%;
    bottom: 0%;
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.btn-careers-mannager-2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FCB72B;
    height: 25px;
    left: 37.5%;
    right: 36.94%;
    top: calc(50% - 25px/2);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    width: 180px;
    height: 53px;
    border: none;
    margin-left: 400px;
}

.btn-careers-mannager:hover {
    background-color: white;
    color: #FCB72B;
    border: 1px solid #FCB72B;
}

.careers-item-list-manager-3 {
    position: absolute;
    width: 1110px;
    height: 128px;
    left: 165px;
    top: 2100px;
    background: #F2F5F9;
}

.careers-item-list-manager-3 p {
    position: absolute;
    height: 28px;
    left: 0%;
    right: 68.31%;
    top: calc(50% - 28px/2 - 26.5px);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    letter-spacing: -1.07143px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.careers-item-list-manager-3 span {
    position: absolute;
    left: 0%;
    right: 73.71%;
    top: 65.02%;
    bottom: 0%;
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.btn-careers-mannager-3 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FCB72B;
    height: 25px;
    left: 37.5%;
    right: 36.94%;
    top: calc(50% - 25px/2);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    width: 180px;
    height: 53px;
    border: none;
    margin-left: 400px;
}

.btn-careers-mannager:hover {
    background-color: white;
    color: #FCB72B;
    border: 1px solid #FCB72B;
}

.careers-item-list-manager-4 {
    position: absolute;
    width: 1110px;
    height: 128px;
    left: 165px;
    top: 2270px;
    background: #F2F5F9;
}

.careers-item-list-manager-4 p {
    position: absolute;
    height: 28px;
    left: 0%;
    right: 68.31%;
    top: calc(50% - 28px/2 - 26.5px);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    letter-spacing: -1.07143px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.careers-item-list-manager-4 span {
    position: absolute;
    left: 0%;
    right: 73.71%;
    top: 65.02%;
    bottom: 0%;
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.btn-careers-mannager-4 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FCB72B;
    height: 25px;
    left: 37.5%;
    right: 36.94%;
    top: calc(50% - 25px/2);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    width: 180px;
    height: 53px;
    border: none;
    margin-left: 400px;
}

.btn-careers-mannager:hover {
    background-color: white;
    color: #FCB72B;
    border: 1px solid #FCB72B;
}

.careers-item-list-manager-5 {
    position: absolute;
    width: 1110px;
    height: 128px;
    left: 165px;
    top: 2430px;
    background: #F2F5F9;
}

.careers-item-list-manager-5 p {
    position: absolute;
    height: 28px;
    left: 0%;
    right: 68.31%;
    top: calc(50% - 28px/2 - 26.5px);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    letter-spacing: -1.07143px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.careers-item-list-manager-5 span {
    position: absolute;
    left: 0%;
    right: 73.71%;
    top: 65.02%;
    bottom: 0%;
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.btn-careers-mannager-5 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FCB72B;
    height: 25px;
    left: 37.5%;
    right: 36.94%;
    top: calc(50% - 25px/2);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    width: 180px;
    height: 53px;
    border: none;
    margin-left: 400px;
}

.btn-careers-mannager:hover {
    background-color: white;
    color: #FCB72B;
    border: 1px solid #FCB72B;
}

.careers-item-list-manager-5 {
    position: absolute;
    width: 1110px;
    height: 128px;
    left: 165px;
    top: 2100px;
    background: #F2F5F9;
}

.careers-item-list-manager-5 p {
    position: absolute;
    height: 28px;
    left: 0%;
    right: 68.31%;
    top: calc(50% - 28px/2 - 26.5px);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    letter-spacing: -1.07143px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.careers-item-list-manager-5 span {
    position: absolute;
    left: 0%;
    right: 73.71%;
    top: 65.02%;
    bottom: 0%;
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.btn-careers-mannager-5 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FCB72B;
    height: 25px;
    left: 37.5%;
    right: 36.94%;
    top: calc(50% - 25px/2);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    width: 180px;
    height: 53px;
    border: none;
    margin-left: 400px;
}

.btn-careers-mannager:hover {
    background-color: white;
    color: #FCB72B;
    border: 1px solid #FCB72B;
}

.careers-item-list-manager-6 {
    position: absolute;
    width: 1110px;
    height: 128px;
    left: 165px;
    top: 2440px;
    background: #F2F5F9;
}

.careers-item-list-manager-6 p {
    position: absolute;
    height: 28px;
    left: 0%;
    right: 68.31%;
    top: calc(50% - 28px/2 - 26.5px);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    letter-spacing: -1.07143px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.careers-item-list-manager-6 span {
    position: absolute;
    left: 0%;
    right: 73.71%;
    top: 65.02%;
    bottom: 0%;
    font-family: Lexend Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
    text-align: center;
    align-items: center;
}

.btn-careers-mannager-6 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FCB72B;
    height: 25px;
    left: 37.5%;
    right: 36.94%;
    top: calc(50% - 25px/2);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    width: 180px;
    height: 53px;
    border: none;
    margin-left: 400px;
}

.btn-careers-mannager:hover {
    background-color: white;
    color: #FCB72B;
    border: 1px solid #FCB72B;
}

@media only screen and(max-width:768px) {
    .careers-item-manager {
        margin-top: 500px;
        position: absolute;
    }
    .about-main-values-item-careers {
        top: 800px;
    }
    .Why-join-us {
        top: -300px;
    }
}